body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}
input{
    box-sizing: border-box;
    width: 100%;
    padding:10px;
    border: 1px solid #5f9341;
}
button{
    background-color: #5f9341;
    color: white;
    border: 1px solid #5f9341;
    padding: 10px 20px;
    margin-top: 5px;
    font-weight: 550;
    letter-spacing: .1vw;
}
#delete-btn{
    background-color: white;
    color: #5f9341;
}
ul{
    margin-top: 20px;
    list-style: none;
    padding: 0;
}
li{
    margin-top: 5px;
}
a{
    color: #5f9341;
    
}